:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.jobwiz {
  .freeze {
    width: 100%;
    position: absolute;
    height: 100%;
    top:0;
  }
  .pop-up-window {
    width: 680px;
    margin: 0 auto;
    min-height: 400px;
    background: white;
    margin-top:50px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      overflow: hidden;
      color:#4a4a4a;
      font-family: 'Open Sans', sans-serif;
          margin-bottom: 50px;
  }
  .pop-up-header {
    background: #F8F8F8;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
  }
  .close-pop {
    cursor: pointer;
    background: url('./img/Close.svg') no-repeat;
    display: block;
    height: 10px;
    width: 10px;
    margin-top: 7px;
  }
  .pop-up-h-title {
    font-weight: 600;
    color:#4a4a4a;

  }

  .pagination-buble  {
    width: 20%;
    min-height: 100px
  }
  .view-change {
    width: 79%;
    min-height: 100px
  }
  .body-popup2 {
    padding: 20px;
    min-height: 312px;
  }
  .body-popup3 {
    padding: 22px;
    min-height: 312px;
  }
  .width40px {
    width: 40px;
  }
  .bubble {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F8F8F8;
    display: block;
    box-sizing: border-box;
    padding-top: 9px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .line-x {
    height: 54px;
    width: 1px;
    margin: 0 auto;
    background-color: #F8F8F8;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .bubblegreen {
    background-color: #7ED321;
    color:white;
  }
  .titles-settings {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
  }
  .mar69px {
    margin-top: 69px;
  }
  .mar79px {
    margin-top: 79px;
  }
  .mar85px {
    margin-top: 85px;
  }
  .btns-go-back {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 23px;
  padding: 20px;
  }
  .go-btn-global {
    display: block;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #7ED321;
  color: #7ED321;
  border-radius: 17px;
  font-size: 14px;
  padding: 8px 13px;
  }
  .back-btn  {
    margin-right: 13px;
  }
  .windows-title {
    font-weight: 600;
  }
  .windows-text {
    margin-top: 15px;
      font-size: 14px;
  }
  .mar11px {
    margin-right: 11px;
  }


  dl {
  border: 0px double #ccc;
  padding: 0.5em;
  }
  .windows-list dt {
    float: left;
        clear: left;
        width: 200px;
        text-align: left;
        font-weight: bold;
  }
  dt::after {
  content: ":";
  }
  dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
  }

  ul.react-tabs__tab-list {
    list-style-type: none;
    clear:both;
    height:45px;
    width: 100%;
    margin: 0;
    padding: 0;

  }
  .react-tabs__tab {
    float: left;
    width: 155px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 15px;
    margin-right: 3px;
    border:0px solid #ccc;
  border-bottom: 1px solid #ccc;
    cursor: pointer;
    background: #F8F8F8;
  }

  .react-tabs__tab--selected {
    float: left;
    width: 155px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 15px;
    margin-right: 3px;
    border:1px solid #ccc;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    background: none!important;
    z-index: 2;
  }
  .tabs-con-panel {
    border: 1px solid #ccc;
    margin-top: -2px;
    min-height: 100px;
    padding: 30px;
  }
  .progress-bar-titles {
    height: 20px;
    font-size: 15px;
    font-weight: 600;
  }
  .progress-bar {
    width: 100%;
      height: 16px;
      border-radius: 10px;
      background: #ccc;
      margin-top: 20px;
      -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.12);
  box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.12);
  }
  #myBar {
      width: 1%;
      height: 16px;
      border-radius: 10px;
      background-color: #7ed321;
  }

  .lvl-1 {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 3px;
  }
  .progress-bar-title {
    padding: 15px 0;
    font-weight: 600;
  }

.p_1 {
      margin-right: 190px;
}
.p_2 {
  color:#7ed321;
}
.jobwiz-table {
  width: 100%;
  text-align: left;
}
.jobwiz-table th {
  height: 39px;
}
.jobwiz-table td {
  font-size: 14px;
}
.martop20 {
  margin-top: 20px;
}
.btns-group-jobwiz {
  padding: 24px 0;
    height: 23px;
}

}



}
