:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.container {
  background: white;
}
.gt-left {
  float: left;
}
.gt-right {
  float: right;
}
.wrap {
  width: 1212px;
  margin: 0 auto;
  padding-top: 33px;
}

.gt-clear {
  clear: both;
}

.filters {
  height: 128px;
  background: #f8f8f8;
  border-bottom: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
}
.filter-wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  height: 100px;
}

.breadcrumbs {
  color:#ccc;
  font-size: 13px;
}

.breadcrumbs a {
  color:#408209;
  font-size: 13px;
  text-decoration: none;
}
.filter-blocks {
  margin-top: 20px;
}
.jobs-counter {
  font-size: 21px;
  color:#4a4a4a;
  margin-right: 40px;
}

.filter-label {
  color:#4a4a4a;
  margin-right: 30px;
  margin-top: 5px;
  font-weight: 600;
}
.filter-select {
  width: 120px;
}
.marr20 {
  margin-right: 80px;
}
.btns-wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.cntrl-btns {
  height: 64px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  padding-top: 14px;
}
a.bk-btn {
  width: 100px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-position: 7px 7px;
  padding-top: 8px;
  box-sizing: border-box;
  color: #4a4a4a;
  padding-left: 36px;
  cursor:pointer;
  margin-right: 20px;
}



.srch-comp {
  border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    width: 301px;
    outline: 0;
    margin-top: 9px;
    background: url('./img/search.png') no-repeat 280px 2px;
}

.start-btn {
  background: url('./img/1.png') no-repeat #f8f8f8;
}

.table-wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 50px;
  margin-top: 20px;
  padding: 15px;
      box-sizing: border-box;
}
.bk-table th {
  position: relative;
  height: 34px;
}
.bk-table th:after {
  content: "";
display: block;
height: 17px;
width: 1px;
position: absolute;
right: 0px;
background: #ccc;
top: 8px;
}
.bk-table th:last-child:after {
  display: none;
}

.bk-table thead {

  height: 35px;
}


.bk-table {
  width: 100%;
  color:#4a4a4a;
  border-spacing:0px;
  font-size: 14px;
}
.bk-table td {
  text-align: center;
  padding: 9px 0px;
  border-top: 1px solid #ccc;
  width: 10%;
}

.bk-table tr:nth-child(2n) {
  background: #f8f8f8;
}
.link-table {
  color: #408209;
  text-decoration: underline;
}

.width16 {
  width: 16%;
}
.width11 {
  width: 11%!important;
}

}
