:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.freeze {
  width: 100%;
  position: absolute;
  height: 100%;
  top:0;
}
.pop-up-window {
  width: 800px;
  margin: 0 auto;
  min-height: 400px;
  background: white;
  margin-top:50px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    color:#4a4a4a;
    font-family: 'Open Sans', sans-serif;
        margin-bottom: 50px;
}
.pop-up-header {
  background: #F8F8F8;
  height: 50px;
  padding: 13px;
  box-sizing: border-box;
}
.close-pop {
  cursor: pointer;
}
.pop-up-h-title {
  font-weight: 600;
  color:#4a4a4a;

}

.pagination-buble  {
  width: 20%;
  min-height: 100px
}
.view-change {
  width: 79%;
  min-height: 100px
}
.body-popup {
  padding: 40px;
  min-height: 420px;
}
.width40px {
  width: 40px;
}
.bubble {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #F8F8F8;
  display: block;
  box-sizing: border-box;
  padding-top: 9px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.line-x {
  height: 54px;
  width: 1px;
  margin: 0 auto;
  background-color: #F8F8F8;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bubblegreen {
  background-color: #7ED321;
  color:white;
}
.titles-settings {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.mar69px {
  margin-top: 69px;
}
.btns-go-back {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 23px;
padding: 20px;
}
.go-btn-global {
  display: block;
cursor: pointer;
padding: 8px;
border: 1px solid #7ED321;
color: #7ED321;
border-radius: 17px;
font-size: 14px;
padding: 8px 13px;
}
.back-btn  {
  margin-right: 13px;
}
}
