:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.freeze {
  width: 100%;
  position: absolute;
  height: 100%;
  top:0;
}
.pop-up-window {
  width: 800px;
  margin: 0 auto;
  min-height: 400px;
  background: white;
  margin-top:50px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    color:#4a4a4a;
    font-family: 'Open Sans', sans-serif;
        margin-bottom: 50px;
				padding-bottom: 25px;
				animation-name: fadeIn;
				animation-iteration-count: 1;
				animation-timing-function: ease-in;
				animation-duration: 0.15s;
				animation-fill-mode:forwards;
}

@keyframes fadeIn {
	0% {
			opacity: 0;
			
	}


	100% {
			opacity: 1;
			
	}

}

.pop-up-header {
  background: #F8F8F8;
  height: 50px;
  padding: 13px;
  box-sizing: border-box;
}



.close-pop {
  cursor: pointer;
  background: url('./img/Close.svg') no-repeat;
  display: block;
  height: 10px;
  width: 10px;
  margin-top: 7px;
}
.pop-up-h-title {
  font-weight: 600;
  color:#4a4a4a;

}

.pagination-buble  {
  width: 20%;
  min-height: 100px
}
.view-change {
  width: 79%;
  min-height: 100px
}
.body-popup {
  padding: 40px;
  min-height: 420px;
}
.width40px {
  width: 40px;
}
.bubble {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #F8F8F8;
  display: block;
  box-sizing: border-box;
  padding-top: 9px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color:black;
  text-decoration: none;
}

.line-x {
  height: 54px;
  width: 1px;
  margin: 0 auto;
  background-color: #F8F8F8;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bubblegreen {
  background-color: #7ED321;
  color:white;
}
.titles-settings {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}
.mar69px {
  margin-top: 69px;
}
.btns-go-back {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 23px;
padding: 20px;
}
.go-btn-global {
  display: block;
cursor: pointer;
padding: 8px;
border: 1px solid #7ED321;
color: #7ED321;
border-radius: 17px;
font-size: 14px;
padding: 8px 13px;
}
.back-btn  {
  margin-right: 13px;
}

.stage4{
		font-size: 14px;
	}

  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
	}
	dd, dt {
		line-height: 38px; height: 38px; box-sizing: border-box;
	}
	dt{
		min-width: 210px;
		text-align: left;
		font-size: 14px;
	}
	dd{
	font-size: 14px;
	}

	.floated dd:nth-child(4n){
    background: #f9f9f9;

	}
	.floated dd{
	border-top:1px solid #dddddd;
	margin-left: 0;
	}
	.floated dd:last-child{
	border-bottom:1px solid #dddddd;
	}



	.zagname {
	font-size: 15px;
    font-weight: 900;
    margin-bottom: 15px;
	}
	.upperlbl{
	font-size: 15px;
    font-weight: 600;
	}
	.wizzard1 input {
	border: 1px solid #dddddd;
	border-radius: 1px;
	height: 25px;
	line-height: 25px;
	}
	.firstscreent {
	border: 1px solid #dddddd;
	border-radius: 1px; resize: none;
	width: 100%;
	height: 80px;
	}
	.jobname {
	width: 100%;
  margin-bottom: 15px;
	}
	.upperlbl {
	font-weight: 600;
	margin-bottom: 12px;
	margin-top: 15px;
	}
	.pagetwoundertxt{
	font-size: 14px;
    font-weight: 600;
	}
	.addic {
	width:80px;
	height:30px;
	background: url(img/add.svg) no-repeat;
	float: left;
	line-height: 30px;
	padding-left: 38px;
	box-sizing: border-box;
	background-size: 30px;
	position: relative;
  cursor: pointer;
	}

  .addic:hover {
		background: url(img/add_active.svg) no-repeat;
		background-size: 30px;
    color:#7ED321;
	}



	.removeic:hover {
		background: url(img/remove_active.svg) no-repeat;
		background-size: 30px;
    color:#7ED321;
	}

	.removeic{
	width:115px;
	margin-left: 13px;
	float: left;
	height:30px;
	line-height: 30px;
	background: url(img/remove.svg) no-repeat;
	padding-left: 38px;
  cursor:pointer;
cursor: pointer;
	box-sizing: border-box;
	background-size: 30px;
	position: relative;
	}

  .search-icon-jh {
    background: url(img/search_grey.svg) #ccc no-repeat ;
    background-size: 13px;
    background-position: 8px 8px;
  }

	.exclusionsic  {
cursor: pointer;
	width: 123px;
	margin-left: 14px;
	float: left;
	height:30px;
	line-height: 30px;
	background: url(img/Exclusions.svg) no-repeat;
	padding-left: 38px;
	box-sizing: border-box;
	background-size: 30px;
	position: relative;
	}
	.exclusionsic:hover {
		background: url(img/Exclusions_active.svg) no-repeat;
		background-size: 30px;
    color:#7ED321;
	}
	.searchiccont{
	height:30px;
	float: right;
	line-height: 30px;
	}
	.searchiccont input {
	height: 30px;
	display: inline-block;
	float: left;
	}
	.searchiccont input:first-child{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		box-sizing: border-box;
		border-right: 0px solid #cccccc;
		padding-left: 13px;
		font-size: 12px;
	}
	.wizzard1{
		font-family: "Open Sans", sans-serif;

	}
	.searchiccont input:last-child{
		width: 30px;
		height: 30px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border: 1px solid #cccccc;

	}
	.iconboxtbsearch{
	margin-top: 23px;
    display: block;
    height: 30px;
	margin-bottom: 30px;
  font-size: 14px;
	}
	.consteptwo{
		padding-top: 20px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 15px;
		box-sizing: border-box;
		border: 1px solid #dadada;
    overflow-y: scroll;

	}

	.bckprpstr{
	margin-top: 22px;
	margin-bottom: 11px;
	}



.capacitycont {
width: 100%;
height: 75px;
background: #fafafa;
margin-top: 20px;
display: block;
line-height: 75px;
box-sizing: border-box;
padding-left: 69px;
font-size: 14px;
font-weight: 600;
	}
.bottomelse{
width: 100%;
margin-top: 40px;
position: relative;
	}
.onltext{
font-size: 13px;
	}

.onltextbtn {
    width: 120px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #7ed321;
    font-size: 13px;
    text-align: center;
    border-radius: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
	color: #7ed321;
}
	.addic:after , .removeic:after {
	content: "";
	width: 2px;
	height: 14px;
	background-color: #a4a4a4;
	position: absolute;
	display: block;
	right: 0;
    top: 9px;

	}
	.floated dt {
		padding-left: 20px;
		box-sizing: border-box;
	}
	.myown .react-tabs__tab{
	float: left;
    width: 140px;
	margin-right: 2px;
	color: #9e9e9e;
	font-size: 12px;
	}
	.myown .tabs-con-panel {
	padding: 20px;
	}
	.myown .react-tabs__tab--selected{
	color: black;
	font-weight: 500;
	}
	.tabf1 {
    float: left;
    width: 115px;
    margin-right: 40px;
}
	.tabf2 {
	float: left;
	width: 255px;
    margin-right: 40px;
	}
	.tabf3 {
	float: left;
	width: 76px;
	}

	.myown .tabs-con-panel{
	min-height: 50px;

	}

	.tabs1 {
    float: left;
    width: 100px;
    margin-right: 10px;
}
	.tabs2 {
	float: left;
	width: 130px;
    margin-right: 10px;
	margin-left: -30px;
	}
	.tabs3 {
	float: left;
	width: 103px;
	margin-right: 10px;
	}
	.tabs4 {
	float: left;
	width: 145px;
	}
	.myown {
		margin-bottom: 24px;
    margin-top: 20px;
    position: relative;
	}
	.respoints{
		margin-left: 25px;
		width: 105px;

	}
	.autoretry {
		box-sizing: border-box;
		background: #fafafa;
		padding: 20px;
		clear: both;
		height: 150px;
		margin-top: 18px;
	}
	.autoretryleft , .autoretryright {
		width: 50%;
		float: left;
	}
	.checkboxstyling {
		line-height: 22px;
		height: 22px;
		margin-bottom: 27px;
	}
	.checkboxstyling input {
		line-height: 22px;
		height: 22px;
	}
.checkboxstyling {
		line-height: 22px;
		height: 22px;
	}
	.bottomwith {
		padding-left: 20px;
		box-sizing: border-box;
		position: relative;
		padding-bottom: 20px;
	}
	.windbtn{
		width: 100px;
		height: 30px!important;
		line-height: 22px!important;
		color: #999999;
		border-radius: 1px;
		text-align: center;
		border: 1px solid #cccccc!important;
		background: #e5e5e5;
		margin-left: auto;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
	}

.width150px {
  width: 150px;
  margin-right: 25px;
}
.clock {
  width: 130px;
  margin-right: 30px;
  height: 32px!important;
}


	.bckpchkbx {
		height: 22px;
		width: 100%;
		margin-bottom: 27px;
		margin-top: 20px;
	}

	.bottomwithline {
		color: #9b9b9b;
		padding-top: 10px;
		border-top: 1px solid #dadada;
	}
	.autoretry input {
	margin-top:0px;
	}
	.autoretryleft input {
		margin-top: 13px;
	}
	.autoretryright input {
		margin-top: 13px;
	}
	.stage4 label {
		color: #80d325;

	}
  .consteptwo table {
    width: 100%;
  }


  .consteptwo th {
    position: relative;
    height: 34px;
    text-align: center;
  }
  th:after {
    content: "";
  display: block;
  height: 17px;
  width: 1px;
  position: absolute;
  right: 0px;
  background: #ccc;
  top: 8px;
  }

  .consteptwo  th:last-child:after {
    display: none;
  }


  .consteptwo table tr td {
    height: 21px;
    font-size: 14px;
    text-align: center;
  }
.consteptwo table tr:nth-child(2n) {
  background: #f7f7f7;
}
.greyfixer34 {
  color:#9b9b9b;
}
.capacitycont {
  background: url('./img/backup_icon.svg') #fafafa no-repeat;
  background-position: 24px 25px;
}
.withclock{
    height: 40px;
	}
.withclock input{
    height: 30px;
	}

  .disabled-block {
    height: 500px;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.47);
	}
	.restorepointsinput {
		z-index: 11;
		position: relative;
	}
	.autoretryleft input {
		width: 100px;
		margin-right: 5px;
	}
	.autoretryright input {
		width: 100px;
		margin-right: 5px;
	}


	//experiment checkbox start

input[type="checkbox"]{
  display:block;
  position:relative;
  width:22px;
  height:22px;
  -webkit-appearance: none;
  appearance: none;
  outline:none!important;
  cursor:pointer;
background: url(img/ch_b.svg);
	background-size: 22px;
	border: 0px solid black;
	    float: left;
    margin-top: -1px;
    margin-right: 10px;
}
input[type="checkbox"]:after{
  display:block;
  content:'';
  position:relative;
  width:22px;
  height:22px;
  appearance: none;
  outline:none;
 cursor:pointer;
	background-size: 22px;
}
input[type="checkbox"]:checked {
	background: url(img/ch_b_active.svg);
	appearance: none;
    outline:none;
	cursor:pointer;
	background-size: 22px;

}

.go-btn-global:hover {

text-decoration: none;
color: #7ED321;

}

ul.react-tabs__tab-list {
  list-style-type: none;
  clear:both;
  height:45px;
  width: 100%;
  margin: 0;
  padding: 0;

}

.react-tabs__tab {
  float: left;
  width: 155px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  font-size: 15px;
  margin-right: 3px;
  border:0px solid #ccc;
border-bottom: 1px solid #ccc;
  cursor: pointer;
  background: #F8F8F8;
}

.react-tabs__tab--selected {
  float: left;
  width: 155px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  font-size: 15px;
  margin-right: 3px;
  border:1px solid #ccc;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  background: none!important;
  z-index: 2;
}
.tabs-con-panel {
  border: 1px solid #ccc;
  margin-top: -2px;
  min-height: 100px;
  padding: 30px;
}

	.bubblegreen:hover{
		text-decoration: none;
		color: white;
	}
	.bubble:hover{
		text-decoration: none;
		color: black;
	}

  .bubblegreen:hover {
    color:white;
  }

	.runthehob{
		    margin-top: 15px;
	}
	.consteptwo {
		height: 400px;
	}
	input[type="number"]{ overflow:visible;}
	input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}
.pl-1 {
	width: 356px;
	text-overflow: ellipsis;
	margin-top: -20px;
	overflow-x: hidden;
	position: absolute;
	white-space: nowrap;
	margin-left: 211px;
	margin-top: -1px;
}

.Select-menu-outer {
	z-index: 12;
}
.is-focused {
	border: 0px solid #ccc!important;
	outline: 0!important;
	border-color:0!important;
	box-shadow: 0!important;
}
.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #ccc!important;
  box-shadow: 0!important;
  background: #fff;
}
}
