:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
.modalWizPro12DC {
  .freeze {
    width: 100%;
    position: absolute;
    height: 100%;
    top:0;
  }
  .pop-up-windowsmall {
    width: 500px;
    margin: 0 auto;
    min-height: 200px;
    background: white;
    margin-top:275px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
      overflow: hidden;
      color:#4a4a4a;
      font-family: 'Open Sans', sans-serif;
          margin-bottom: 50px;
          padding-bottom: 25px;
          border: 1px solid #7dd421;
  }
  .pop-up-header {

    height: 50px;
    padding: 13px;
    box-sizing: border-box;
  }
  .close-pop {
    cursor: pointer;
    background: url('./img/Close.svg') no-repeat;
    display: block;
    height: 10px;
    width: 10px;
    margin-top: 7px;
  }
  .pop-up-h-title {
    font-weight: 600;
    color:#4a4a4a;
    margin-left: 97px;

  }
  .body-popup3 {
    min-height: 200px;
    padding: 15px;
  }
  .popup3-title {
    font-size: 15px;
    color:#4a4a4a;
    font-weight: 600;
  }
  .popup3-con {
    margin-top: 20px;
    border:1px solid #cac4c4;

  }

  .btns-go-back {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 23px;
  padding: 20px;
  }
  .go-btn-global {
    display: block;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #7ED321;
  color: #7ED321;
  border-radius: 17px;
  font-size: 14px;
  padding: 8px 13px;
  }
  .back-btn  {
    margin-right: 13px;
  }


  .tbls123 table {
    width: 100%;
  }


  .tbls123 th {
    position: relative;
    height: 34px;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
  }
.tbls123  th:after {
    content: "";
  display: block;
  height: 17px;
  width: 1px;
  position: absolute;
  right: 0px;
  background: #ccc;
  top: 8px;
  }

  .tbls123  th:last-child:after {
    display: none;
  }


  .tbls123 table tr td {
    height: 21px;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
  }
  .tbls123 table tr:nth-child(2n) {
  background: #f7f7f7;
  }

  .tbls123 {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  box-sizing: border-box;


  height: 200px;
  }
  .mar154px {
    margin-right: 154px;
  }

  .mr10r {
    margin-right: 10px;
  }
  .btns-group {
    margin-top: 55px;
  }

  .green {
  background: rgb(214, 249, 214) !important;
  }
  .red { background: #f9f9f9  !important; }

  .white { background: white !important; }
}
.lp-6 {
  text-align: center;
  padding-top: 53px;
}
.lp-7 {
  margin: 13px 13px 0 0!important;
}
.show-diff {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

}
