:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.VmVizViz {



  
  .freeze {
    width: 100%;
    position: absolute;
    height: 100%;
    top:0;
    
    
    
  }




  .pop-up-window {
    width: 800px;

    margin: 0 auto;
    min-height: 400px;
    background: white;
    margin-top:50px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      overflow: hidden;
      color:#4a4a4a;
      font-family: 'Open Sans', sans-serif;
          margin-bottom: 50px;
          animation-name: fadeIn;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: 0.15s;
          animation-fill-mode:forwards;
         
          
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

  }

 
  .pop-up-header {
    background: #F8F8F8;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
  }
  .close-pop {
    cursor: pointer;
    background: url('./img/Close.svg') no-repeat;
    display: block;
    height: 10px;
    width: 10px;
    margin-top: 7px;
  }
  .pop-up-h-title {
    font-weight: 600;
  color: #4a4a4a;
  text-align: center;
  

  }

  .pagination-buble  {
    width: 20%;
    min-height: 100px
  }
  .view-change {
    width: 79%;
    min-height: 100px
  }
  .body-popup2 {
    padding: 40px;
    min-height: 312px;
  }
  .body-popup3 {
    padding: 22px;
    min-height: 312px;
  }
  .width40px {
    width: 40px;
  }
  .bubble {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F8F8F8;
    display: block;
    box-sizing: border-box;
    padding-top: 9px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    color:black;
    text-decoration: none;
  }

  .line-x {
    height: 54px;
    width: 1px;
    margin: 0 auto;
    background-color: #F8F8F8;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .bubblegreen {
    background-color: #7ED321;
    color:white;
  }
  .titles-settings {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
  }
  .mar69px {
    margin-top: 69px;
  }
  .mar79px {
    margin-top: 79px;
  }
  .mar85px {
    margin-top: 85px;
  }
  .btns-go-back {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 23px;
  padding: 20px;
  }
  .go-btn-global {
    display: block;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #7ED321;
  color: #7ED321;
  border-radius: 17px;
  font-size: 14px;
  padding: 8px 13px;
  }
  .back-btn  {
    margin-right: 13px;
  }
  .windows-title {
    font-weight: 600;
  }
  .windows-text {
    margin-top: 15px;
      font-size: 14px;
  }
  .mar11px {
    margin-right: 11px;
  }


  dl {
  border: 0px double #ccc;
  padding: 0.5em;
  }
  .windows-list dt {
    float: left;
        clear: left;
        width: 200px;
        text-align: left;
        font-weight: bold;
  }
  dt::after {
  content: ":";
  }
  dd {
  //margin: 0 0 0 110px;
	   margin: 0 0 0 0px;
  padding: 0 0 0.5em 0;
  }

  ul.react-tabs__tab-list {
    list-style-type: none;
    clear:both;
    height:45px;
    width: 100%;
    margin: 0;
    padding: 0;

  }
  .react-tabs__tab {
    float: left;
    width: 155px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 15px;
    margin-right: 3px;
    border:0px solid #ccc;
  border-bottom: 1px solid #ccc;
    cursor: pointer;
    background: #F8F8F8;
  }

  .react-tabs__tab--selected {
    float: left;
    width: 155px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 15px;
    margin-right: 3px;
    border:1px solid #ccc;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    background: none!important;
    z-index: 2;
  }
  .tabs-con-panel {
    border: 1px solid #ccc;
    margin-top: -2px;
    min-height: 100px;
    padding: 30px;
  }
  .progress-bar-titles {
    height: 20px;
    font-size: 15px;
    font-weight: 600;
  }
  .progress-bar {
    width: 100%;
      height: 16px;
      border-radius: 10px;
      background: #ccc;
      margin-top: 20px;
      -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.12);
  box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.12);
  }
  #myBar {
      width: 1%;
      height: 16px;
      border-radius: 10px;
      background-color: #7ed321;
  }
  	.vmonwizzzr:after{
  		display: none;
  	}
  	.pointjob{
      width: 80px;
      height: 30px;
      float: left;
      line-height: 30px;
      padding-left: 38px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-size: 30px;
      position: relative;
      cursor: pointer;
  	background: url(img/point.svg) no-repeat;
  	margin-left: 13px;
  	}
  	.greenst {
  		color: #80d325;

  	}
  	.marnvz { margin-bottom: 10px;
  }
  	.somevizcont{
  		padding-left: 20px;
  	}
  	.somevizstep3 {
  		    font-size: 15px;
      font-weight: 600;
  	}
  	.someviztextarea {
  		width: 100%;
  		height: 450px;
  		resize: none;
  		border: 1px solid #dddddd;
  		border-radius: 2px;
  		box-sizing: border-box;
  		padding: 5px;
  	}
  	.somefix {
  		margin: 15px;
  	}
  	.searchiccont input{
  		border: 1px solid #dddddd;
      border-radius: 1px;
      line-height: 25px;
  	height: 30px;
  	}

    .tbls1 table {
      width: 100%;
    }


    .tbls1 th {
      position: relative;
      height: 34px;
      text-align: center;
      border-bottom: 1px solid #ccc;
    }
    th:after {
      content: "";
    display: block;
    height: 17px;
    width: 1px;
    position: absolute;
    right: 0px;
    background: #ccc;
    top: 8px;
    }

    .tbls1  th:last-child:after {
      display: none;
    }


    .tbls1 table tr td {
      height: 21px;
      font-size: 14px;
      text-align: center;
    }
  .tbls1 table tr:nth-child(2n) {
    background: #f7f7f7;
  }

  .tbls1 {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #dadada;
    overflow-y: scroll;
    height: 200px;
  }


  .tbls12 table {
    width: 100%;
  }


  .tbls12 th {
    position: relative;
    height: 34px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  th:after {
    content: "";
  display: block;
  height: 17px;
  width: 1px;
  position: absolute;
  right: 0px;
  background: #ccc;
  top: 8px;
  }

  .tbls12  th:last-child:after {
    display: none;
  }


  .tbls12 table tr td {
    height: 21px;
    font-size: 14px;
    text-align: center;
  }
  .tbls12 table tr:nth-child(2n) {
  background: #f7f7f7;
  }

  .tbls12 {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #dadada;

  height: 200px;
  }
  .disabled-remove {
    opacity: 0.3;
  cursor: default!important;
  }
  .disabled-remove:hover {
    background: url(img/remove.svg) no-repeat;
    color:#696969;
  }

  .width30 {
    width:30%;
  }

  .martop50px {
    margin-top: 50px;
  }
  .martop78 {
    margin-top: 78px;
  }
  .martop76 {
    margin-top: 76px;
  }
  .rename-vm-btn {
    color:black;
    
    background: url('./img/restore.svg') no-repeat;
    width: 150px;
    height: 41px;
    display: block;
    padding-left: 52px;
    padding-top: 10px;
    margin-top: 24px;
    cursor: pointer;
  }
  .tbl1op {
    margin-top: 40px;
  }
  .looper {
    background-image: repeating-linear-gradient(
    transparent,
    transparent 24px,
  #f3f3f3 24px,
  #f3f3f3 48px);
  
  padding-top:24px;
  
  }
  .hider {
    height: 24px;
    box-sizing: border-box;
    padding-top: 3px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }

  .text-alignCenter {
    text-align: center;
  }
  
  .cliptext {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 63px;
    text-align: left;
  }
  .childtable > div {
    height: 24px;
    box-sizing: border-box;
    padding-top: 3px;
  }
  .childtable {
    height: 24px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
   .selected-green-for-table {
    background-color: #E1ECCB !important;
  }
  .minus {
    background: url('./img/minus.png') no-repeat;
    background-position: 8px 10px;
  }
  .plus {
    background: url('./img/plus.png') no-repeat;
    background-position: 8px 8px;
  }
  .back_upicon {
    background: url('./img/backup_job.svg') no-repeat;
    background-position: 25px 0px;
  }
  .vm-icon {
    background: url('./img/VM.svg') no-repeat;
    background-position:42px 4px;
  }
  .width475px {
    width: 474px;
  }
  
  .gt-clearnew {
    content: "";
    display: table;
    clear: both;
  }
  .marleft15px {
    margin-left: 14px;
  }
  .marbtm12px {
    margin-bottom: 12px;
  }
  .looper {
    font-size: 12px;
  }
  .hider div {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }
  .col-4 {
    width:25%;
  }
  .btns-browser-change {
    display: block;
    padding: 5px 9px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #989898;
    cursor: pointer;
    text-align: center
  }
  .martop20px {
    margin-top: 20px;
  }
  .marr12px {
    margin-right: 12px;
  }
  .tested {
    width: 1000px;
    height: 100px;
    position: absolute;
    background: red;
  }
  .font13px {
    font-size: 13px;
  }
  .lp-5 {
    font-weight: bold;
    margin-top: 5px;
  }
 .windows-lister {
   padding: 15px;
   border:1px solid #ccc;
   margin-top: 22px;
   padding-bottom: 23px;

 }
 .windows-lister table {
   width:100%;
 }
 .windows-lister th {
   font-weight: bold;
   height: 40px;
   padding-left: 20px;
 }
 .windows-lister td {
   height: 20px;
   font-size: 13px;
   padding-left: 20px;
   padding-top: 4px;
   padding-bottom: 4px;
   border-bottom: 1px solid #dcdcdc;
 }
 .windows-lister tbody tr:nth-child(odd) {
   background: #f3f3f3;
  
   
 }
 .windows-lister tbody tr td:nth-child(odd) {
   width: 40%;
 }
 .windows-lister thead tr th:nth-child(odd) {
  width: 40%;
}
}


}
