:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
.modalWizPro156 {
  .freeze {
    width: 100%;
    position: absolute;
    height: 100%;
    top:0;
  }
  .pop-up-windowsmall {
    width: 515px;
    margin: 0 auto;
    min-height: 200px;
    background: white;
    margin-top:140px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      overflow: hidden;
      color:#4a4a4a;
      font-family: 'Open Sans', sans-serif;
          margin-bottom: 50px;
          padding-bottom: 25px;
  }
  .pop-up-header {
    background: #F8F8F8;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
  }
  .close-pop {
    cursor: pointer;
    background: url('./img/Close.svg') no-repeat;
    display: block;
    height: 10px;
    width: 10px;
    margin-top: 7px;
  }
  .pop-up-h-title {
    font-weight: 600;
    color:#4a4a4a;

  }
  .body-popup3 {
    min-height: 200px;
    padding: 40px 60px;
    padding-bottom: 17px;
  }
  .popup3-title {
    font-size: 15px;
    color:#4a4a4a;
    font-weight: 600;
  }
  .popup3-con {
    margin-top: 20px;
    border:1px solid #cac4c4;
    overflow: auto;
    height: 197px;
  }

  .btns-go-back {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 23px;
  padding: 20px;
  }
  .go-btn-global {
    display: block;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #7ED321;
  color: #7ED321;
  border-radius: 17px;
  font-size: 14px;
  padding: 8px 13px;
  
  }
  .back-btn  {
    margin-right: 13px;
  }



  .mr10r {
    margin-right: 10px;
  }
  .btns-group {
    margin-top: 20px;
  }

  .row-label-input2 {
    margin-bottom: 14px;
    height: 29px;
  }

   .row-label-input2 input {
    border: 1px solid #ccc;
    height: 28px;
    color: #ccc;
    font-weight: 400;
    padding-left: 5px;
    width: 250px;
}

.j-1 {
  width: 112px;
  font-weight: 600;
  padding-top: 3px;
  text-align: right;
}

.add-serv-btn {
  width: 108px;
  height: 32px;
  line-height: 28px;
  border: 1px solid #7ed321;
  font-size: 13px;
  text-align: center;
  border-radius: 50px;
  display: block;
  margin-top: 24px;
  right: 0;
  top: 0;
  color: #7ed321;
  margin-left: 290px;
  cursor: pointer;
}

 
}

}
