:global {

.container {
  background: white;
}
.gt-left {
  float: left;
}
.gt-right {
  float: right;
}
.wrap {
  width: 1212px;
  margin: 0 auto;
  padding-top: 33px;
}
.btns-container {

width: 465px;
float: right;
margin-top: 20px

}
.btns-container a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  background:#7b7b7b;
  cursor: pointer;
  padding: 10px 80px;

}
.btns-container a:hover {
  background:#ababab;
}
.hour__item {
  width: 40px;
  border: 1px solid #ccc;
  height: 70px;
  background: #ddd;
}
.gt-clear {
  clear: both;
}
.days {
  width: 100px;
  text-align: center;
  color: #d6d6d6;
  background: #fafafb;
  font-size: 30px;
  height: 54px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  padding-top: 16px;
}
.switcher {
  display: block;
  height: 72px;
  width: 100px;
  background: #565656;
}
.white {
  background: #fafafb;
}
.grey {
  background: #d6d6d6;
}
.labelstyle {

    display: block;
    height: 52px;
    width: 100px;
    margin-top: 10px;

}
.all-day-label {
  margin-left: 100px;
    text-align: center;
    font-size: 40px;
    width: 100px;
}
.text-time-item  {
  width: 126px;
  margin-top: 39px;
  margin-bottom: 10px;
}
.text-time {
  margin-left: 1px;
}
.lines {
  margin-left: 1px;
}
.line-item {
  border-left: 1px solid  #a2a2a2;
  width: 125px;
  height: 33px;
}
}
