:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.setttings {

  .container {
    background: white;
  }
  .gt-left {
    float: left;
  }
  .gt-right {
    float: right;
  }
  .wrap {
    width: 1212px;
    margin: 0 auto;
    padding-top: 33px;
  }
  .wrapper-settings {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .gt-clear {
    clear: both;
  }

  .filters {
    height: 129px;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
  }
  .filter-wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-top: 28px;
    height: 100px;
  }
  .setttings-wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    height: 100px;
  }

  .tabs-settings {
    
    float: right;
    margin-top: -39px;
  }


  a.bk-btn {
    width: 100px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-position: 7px 7px;
    padding-top: 7px;
    font-size: 15px;
    box-sizing: border-box;
    color: #4a4a4a;
    padding-left: 36px;
    cursor:pointer;
    margin-right: 20px;
  }

  a.removewidth {
    width: 100%;
    width: auto;
    padding-right: 11px;
    font-size: 13px;
  }
  .mrrcl {
    margin-right: 0!important;
  }

  .add-btn {
    background: url(./img/J_add.svg)no-repeat #f8f8f8;
    background-size: 20px;
  }

  .config_backup-btn {
    background: url(./img/backup.svg)no-repeat #f8f8f8;
    background-size: 20px;
  }
  .reboot-btn {
    background: url(./img/reboot.svg)no-repeat #f8f8f8;
    background-size: 20px;
  }
  .shutdown-btn {
    background: url(./img/shutdown.svg)no-repeat #f8f8f8;
    background-size: 20px;
  }
  .bundle-btn {
    background: url(./img/support_bundle.svg)no-repeat #f8f8f8;
    background-size: 20px;
  }

  .red_delete-btn {
    background: url('./img/delete_red.svg') no-repeat #f8f8f8;
    background-size: 20px;
  }
  .edit-btn {
    background: url('./img/edit.svg') no-repeat #f8f8f8;
    background-size: 20px;
  }

  .width20th {
    width: 20%;
  }
  .border-bottom-100 {
    height: 1px;
    width: 100%;
    background: #ccc;
  }

  .tab-s-wrap {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }

  .react-tabs__tab {
    float: left;
    padding: 0;
    height: 44px;
    width:auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 15px;
    margin-right: 3px;
    font-weight: 600;
    color:black;
    border:0px solid #ccc;
  border-bottom: 0px solid #7ed321;
    cursor: pointer;
    background: #F8F8F8;
  }
  .he38 {
    height: 38px;
  }
  .border0 {
    border: 0px;
  }
  .floated {
    color:black;
  }

  .innerTab2wrapper {
    margin-top: 50px;
  }
  .width165px {
    width: 165px;
    margin-top: 2px;
  }

    .innerTab2-checkbox {
      margin-left: 165px;
      margin-bottom: 30px;
    }

    .innerTab2-checkbox label {
      color:#7ed321;
    }
  
    .row-label-input {
      height: 46px;
      color:black;
      font-weight: 600;
    }

    .row-label-input input {
      border:1px solid #ccc;
      height: 28px;
      color:#ccc;
      font-weight: 400;
      padding-left: 5px;
      width: 361px;
    }

    .row-label-inputs {
      height: 46px;
      color:black;
      font-weight: 600;
    }

    .row-label-inputs input {
      border:1px solid #ccc;
      height: 28px;
      color:black;
      font-weight: 400;
      padding-left: 5px;
      padding-right: 2px;
      width: 46px;
    }

    .hideblock {
      position: absolute;
      width: 200px;
      height: 186px;
      background: rgba(255, 255, 255, 0.56);
      
      margin-left: 164px;
      z-index: 10;
    }

    

    .account-status {
      margin-bottom: 30px;
      font-size: 16px;
      color:#4a4a4a;
      font-weight: 600;
    }


    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input {display:none;}
    
    .toggle-switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .toggle-switch .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
   .toggle-switch input:checked + .slider {
     background-color: #00b204;
    }
    
    .toggle-switch input:focus + .slider {
     box-shadow: 0 0 1px #00b204;
   }
    
    .toggle-switch input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .toggle-switch .slider.round {
      border-radius: 34px;
    }
    
    .toggle-switch .slider.round:before {
      border-radius: 50%;
    }

    .apply-btn {
      cursor: pointer;
      color:#7ed321;
      text-decoration: none;
      border: 1px solid #7ed321;
      padding: 5px 45px;
      border-radius: 20px;

    }
    .h55 {
      height: 55px;
    }

    .toggle-group {
      color:black;
      margin-top: 50px;
    }

    .enableSSH__label {
      margin-right: 31px;
      margin-top: 5px;
      font-weight: 600;
    }
    .off__label {
      margin-left: 10px;
      margin-top: 5px;
      font-weight: 600;
    }

    .btn-left-mar {
      margin-left: 165px;
    }

    .marbtm20 {
      margin-bottom: 20px;
    }

  .react-tabs__tab--selected {
    float: left;
    width:auto;
    height: 67px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 15px;
    margin-right: 3px;
    border:0px solid #ccc;
    border-bottom: 3px solid #7ed321;
    cursor: pointer;
    background: none!important;
    z-index: 2;
  }

  .wrapper-settings .react-tabs__tab {
    float: left;
    padding: 0;
    height: 44px;
    width:auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 15px;
    margin-right: 3px;
    font-weight: 600;
    color:black;
    border:0px solid #ccc;
  border-bottom: 0px solid #7ed321;
    cursor: pointer;
    background: #F8F8F8;
  }

  .inner-tabs {
    float: left;
    padding: 0 20px;
    text-align: center;
    color:black;
    height: 60px;
    box-sizing: border-box;
    padding-top: 18px;
    cursor: pointer;
  }
  .inner-tabs__active {
    background: #f8f8f8;
    border-left:1px solid #ccc;
    border-right: 1px solid #ccc;
    font-weight: 600;
    color:#00b204;
  }
  .tablist-inner {
    list-style-type: none;
    margin: 0;
    height: 60px;
    margin-top: -16px;
  }



  .separator {
    float: left;
    width: 1px;
    height: 19px;
    background: #dcdcdc;
    margin: 0 10px;
    z-index: 30;
    margin-top: 13px;
  }


  .breadcrumbs {
    color:#ccc;
    font-size: 13px;
  }

  .breadcrumbs a {
    color:#408209;
    font-size: 13px;
    text-decoration: none;
  }

  .vm-counter {
    font-size: 21px;
    color:#4a4a4a;
    margin-right: 40px;
    margin-top: 20px;
  }



  .label-view {
    height: 128px;
      background: #F0F0F0;
      width: 200px;
      margin-top: -28px;
  }
  .label-view-status {
    color:#7ed321;
    font-size:14px;
    text-align: center;
      margin-top: 26px;
  }

  .label-view-counter {
    text-align: center;
      margin-top: 26px;
      text-transform: uppercase;
      font-size: 14px;
      color: #4a4a4a;
  }

  .clear-wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }

  .mar2020 {
    margin:20px auto;
  }
  


  .he36 {
    height: 36px;
    margin-top: 4px;
  }
  .res-btns:last-child:after {
    display: none;
  }

  .srch-comp {
    border: 0;
      border-bottom: 1px solid #ccc;
      font-size: 13px;
      width: 301px;
      outline: 0;
      margin-top: 9px;
      background: url('./img/search.png') no-repeat 280px 2px;
      color: #4a4a4a;
  }


  .table-wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 50px;
    margin-top: 20px;
    padding: 15px;
        box-sizing: border-box;
  }
  .bk-table th {
    position: relative;
    height: 34px;
    text-align: center;
  }
  .bk-table th:after {
    content: "";
  display: block;
  height: 17px;
  width: 1px;
  position: absolute;
  right: 0px;
  background: #ccc;
  top: 8px;
  }
  .bk-table th:last-child:after {
    display: none;
  }

  .bk-table thead {

    height: 35px;
  }


  .bk-table {
    width: 100%;
    color:#4a4a4a;
    border-spacing:0px;
    font-size: 14px;
  }
  .bk-table td {
    text-align: center;
    height: 35px;
    border-top: 1px solid #ccc;
    width: 10%;
    box-sizing: border-box;
  }

  .bk-table tr:nth-child(2n) {
    background: #f8f8f8;
  }
  .link-table {
    color: #408209;
    text-decoration: underline;
  }

  .width16 {
    width: 16%;
  }
  .width11 {
    width: 11%!important;
  }
  .mar2px {
    margin-right: 2px;
  }

  .qkbcicon {
  		  background: url('./img/p_delete.svg') no-repeat 1px;
        background-size: 29px;
    }
    
    .selected-green {
      background-color: #E1ECCB!important;
    }
}


}
