:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.container {
  background: white;
}
.gt-left {
  float: left;
}
.gt-right {
  float: right;
}
.wrap {
  width: 1212px;
  margin: 0 auto;
  padding-top: 33px;
}

.gt-clear {
  clear: both;
}
.navbar {
  height: 80px;
}

.logo-wrap {
  height: 80px;
  background-color: #00b420;
  width: 295px;
}

.menu-block {
  height: 80px;
  background-color: #4a4a4a;
  width: calc(100% - 295px) ;
}
ul.left-side-menu  {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  margin-left: 23px;
}
ul.left-side-menu li {
  float: left;

  display: block;
  position: relative;

}

ul.left-side-menu li:after {
  content: "";
display: block;
position: absolute;
height: 11px;
right: -1px;
top: 36px;
width: 1px;
background-color: white;

}

ul.left-side-menu li:last-child:after {
  display: none;

}

ul.left-side-menu li a {
  text-decoration: none;
  color:white;
  font-size: 16px;
  height: 80px;
  box-sizing: border-box;
  padding: 20px 10px;
    padding-top: 30px;
  display: block;
}
ul.left-side-menu li a:hover {
  text-decoration: none;
  color:white;
  font-size: 16px;
  height: 80px;
  box-sizing: border-box;
  padding: 20px 10px;
    padding-top: 30px;
    border-bottom: 5px solid #7ed321;
  display: block;
}
.selected {
  border-bottom: 10px solid #7ed321!important;
  font-weight: 700;
  padding: 20px 10px!important;
  padding-top: 30px!important;
}
.logo {
  background: url(./img/logo.svg) no-repeat;
  margin-top: 30px;
  margin-right: 27px;
  height: 25px;
  width: 120px;
  float: right;
}

}
