:global {


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.container {
  background: white;
}
.gt-left {
  float: left;
}
.gt-right {
  float: right;
}
.wrap {
  width: 1212px;
  margin: 0 auto;
  padding-top: 33px;
}

.gt-clear {
  clear: both;
}
.navbar {
  height: 80px;
  margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

.logo-wrap {
  height: 80px;
  background-color: #00b420;
  width: 170px;
}

.gradient {
  width: 100%;
  height: 81px;
  background: rgba(0,180,33,1);
background: -moz-linear-gradient(left, rgba(0,180,33,1) 0%, rgba(0,180,33,1) 51%, rgba(74,74,74,1) 52%, rgba(74,74,74,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,180,33,1)), color-stop(51%, rgba(0,180,33,1)), color-stop(52%, rgba(74,74,74,1)), color-stop(100%, rgba(74,74,74,1)));
background: -webkit-linear-gradient(left, rgba(0,180,33,1) 0%, rgba(0,180,33,1) 51%, rgba(74,74,74,1) 52%, rgba(74,74,74,1) 100%);
background: -o-linear-gradient(left, rgba(0,180,33,1) 0%, rgba(0,180,33,1) 51%, rgba(74,74,74,1) 52%, rgba(74,74,74,1) 100%);
background: -ms-linear-gradient(left, rgba(0,180,33,1) 0%, rgba(0,180,33,1) 51%, rgba(74,74,74,1) 52%, rgba(74,74,74,1) 100%);
background: linear-gradient(to right, rgba(0,180,33,1) 0%, rgba(0,180,33,1) 51%, rgba(74,74,74,1) 52%, rgba(74,74,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b421', endColorstr='#4a4a4a', GradientType=1 );
}

.menu-block {
  height: 80px;
  background-color: #4a4a4a;
  width: calc(100% - 170px) ;
}
ul.left-side-menu  {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  margin-left: 23px;
}
ul.left-side-menu li {
  float: left;

  display: block;
  position: relative;

}

ul.left-side-menu li:after {
  content: "";
display: block;
position: absolute;
height: 11px;
right: -1px;
top: 36px;
width: 1px;
background-color: white;

}

ul.left-side-menu li:last-child:after {
  display: none;

}

ul.left-side-menu li a {
  text-decoration: none;
  color:white;
  font-size: 16px;
  height: 80px;
  box-sizing: border-box;
  padding: 20px 10px;
    padding-top: 30px;
  display: block;
}
ul.left-side-menu li a:hover {
  text-decoration: none;
  color:white;
  font-size: 16px;
  height: 80px;
  box-sizing: border-box;
  padding: 20px 5px;
    padding-top: 30px;
    border-bottom: 5px solid #7ed321;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}
.selected {
  border-bottom: 10px solid #7ed321!important;
  font-weight: 700;
  padding: 20px 10px!important;
  padding-top: 30px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.logo {
  background: url(./img/logo.svg) no-repeat;
  margin-top: 30px;
  margin-right: 27px;
  height: 25px;
  width: 120px;
  float: right;
}


	.topmenuright{

		width:270px;
		height: 30px;
		display: block;
		clear: both;
		margin-left: 253px;
		margin-top: 29px;

	}
	.ic1{
		background: url(img/search.svg);
		width: 26px;
		height: 25px;
		display: block;
		float: left;
		margin-right: 20px;
		position: relative;
	}
	.ic1:after{
		content: "";
		width: 1px;
		height: 11px;
		background-color: white;
		display: block;
		margin-left: 45px;
		margin-top: 6px;

	}
	.ic2{
		background: url(img/notification.svg);
		width: 26px;
		height: 27px;
		display: block;
		float: left;
		margin-left: 27px;
		margin-right: 12px;
	}
	.ic3{
		background: url(img/settings.svg);
		width: 28px;
		height: 29px;
		display: block;
		float: left;
		margin-right: 34px;
		cursor: pointer;
	}
	.ic3:after{
		content: "";
		width: 1px;
		height: 11px;
		background-color: white;
		display: block;
		margin-left: 63px;
		margin-top: 6px;

	}
	.ic4{
		background: url(img/logout.svg);
		width: 21px;
		height: 27px;
		display: block;
		float: left;
		margin-left: 74px;
	}
.ic4:before {
    content: "Admin";
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-left: -49px;
    margin-top: 3px;
    display: block;
}
	.ulic3{
	position: absolute;
    display: block;
    width: 220px;
    background-color: #4a4a4a;
    margin-top: 46px;
    border-top: #7ed321 5px solid;
    box-sizing: border-box;
	list-style: none;
	padding-top: 25px;
	z-index: 2;
	padding-bottom: 6px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: -156px;
	}
.ulic3:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #7ed321 transparent;
    display: block;
    position: absolute;
    right: 43px;
    top: -11px;
}
	.ulic3 a {
		text-decoration: none;
		color: white;
		list-style: none;
		margin-bottom: 28px;
		display: block;
	}

}
