:global {
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
.container {
  background: white;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.gt-left {
  float: left;
}
.gt-right {
  float: right;
}


.gt-clear {
  clear: both;
}


.leftclmn {
width: 68.4%;
float: left;
display: flex;
flex-direction: row;
flex-flow: row wrap;
align-items: center;
}
.rightclmn {
width: 31.6%;
float: left;
display: block;
border: 1px solid #00b420;
box-sizing: border-box;
height: 863px;
}
.sqare {
width: 46.2%;
height: 265px;
border: 1px solid #00b420;
box-sizing: border-box;
margin-right: auto;
margin-bottom: 34px;
}

.sqarestats {
width: 96.4%;
height: 265px;
border: 1px solid #00b420;
box-sizing: border-box;
margin-right: auto;
margin-bottom: 34px;
}

.sqareheading {
    width: 100%;
    height: 53px;
    display: block;
    background-color: #f0f0f0;
    color: #4a4a4a;
    line-height: 53px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;

    font-weight: 600;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
}
.dashmrgn{
margin-top: 36px;
	}
.eventlog{
margin: 0px;
padding: 0px;
}
.eventlogli {
    color: #4a4a4a;
    height: 68px;
    list-style: none;
    padding-top: 12px;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.eventlogli:nth-child(2n) {
background: #fafafa;
}
.eventlogli:before {
    content: "\2022";
    color: #7ed321;
    position: absolute;
    left: 15px;
    top: 24px;
    font-size: 38px;
    line-height: 16px;
}
.leftclmn .sqare:nth-child(1){
		background: url(img/1.png);
	background-position: bottom center;
}
.leftclmn .sqare:nth-child(2){
		background: url(img/2.png);
	background-position: bottom center;
}
.leftclmn .sqare:nth-child(3){
		background: url(img/3.png);
	background-position: bottom center;
}
.leftclmn .sqare:nth-child(4){
		background: url(img/4.png);
	background-position: bottom center;
}
	
.leftclmn .sqarestats{
		background: url(img/5.png);
	background-position: bottom center;
}

}
